
<div>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand navbar-text" href="/"><img src="http://www.budapestjobs.net/wp-content/uploads/company_logos/2018/09/PlanetPlanrIdentification.png" width="50" height="50"> </a> 

    <form class="form-inline">
    <button class="btn btn-outline-primary" type="button">Test button</button>
    <div style="padding-left: 10px;">
      <button class="btn btn-outline-success" type="button">Second Test button</button>
    </div>
  </form>
  </nav>
</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Gardenizer</h1>
    <p class="lead">A community garden organizer for Seattle and surrounding neighborhoods.</p>
  </div>
</div>



<div class="container">
   <div class="row">
   <% @gardens.each do |garden| %>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src= "<%= garden.img_url %>" alt="Card image cap">
        <div class="card-body">
   
        <h5 class="card-title"><%= link_to garden.name, garden_path(garden) %> <br></h5>
       
        <p class="card-text"> <%=garden.address %> </p>
        <a href="#" class="btn btn-primary">View Garden</a>
      </div>
    </div>
       
  </div>
   <% end %>
    </div>
     
    </div>
  </div>
  </div>



</div>

