

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">GARDENIZER</h1>
    <p class="lead">A community garden organizer for Seattle and surrounding neighborhoods.</p>
  </div>
</div>
<br>
<h3 style="text-align: center">Nearby Community Gardens in Seattle</h3> <br><br>

<div class="container">
   <div class="row">
   <% @gardens.each do |garden| %>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src= "<%= garden.img_url %>" alt="Card image cap">
        <div class="card-body">
   
        <h5 class="card-title"><%= link_to garden.name, garden_path(garden) %> <br></h5>
       
        <p class="card-text"> <%=garden.address %> </p>
        

        <div> <%= button_to "View Garden", garden_path(garden), method: :get %> </div>

      </div>
    </div>
       
  </div>
   <% end %>
    </div>
     
    </div>
  </div>
  </div>



</div>

