


<br>
<div class="container">
  <div class="row">
    <div class="col-lg">

      <h1 style="text-align: center; margin-top: 40px;">Update Plant:<br> <%= @plant.name.upcase %></h1>
</div>
  </div>
</div>
      <%= render 'form' %>

     <div class="container">
  <div class="row">
  <div class="col-md-5"></div>
    <div class="col-md-2">
      <br>
      <div class="delete-plant-button">
      <%= button_to "Delete Plant", plant_path(@plant), method: :delete %>
      </div>
      <br>
      </div>
      <div class="col-md-5"></div>
  </div>
</div>