<br>
<div class="container">
  <div class="row">
    <div class="col-lg">
      <h1 style="text-align: center;">Plants List </h1>
    </div>
    
  </div>
<br><br>


  <div class="row">
    
      <% @plants.each do |plant| %>
      <div class="col-sm">
      <div class="plant-index-photo"><img src= "<%= plant.img_url %>" max-width="250" height="250"></img></div>
      <% owner = @members.find_by(id: plant.member_id) %>
      <div class="plant-index-owner"><%= owner.name %>'s <%= link_to plant.name, plant_path(plant) %> </div>
      <br><br><br>
      </div>
      <% end %>
    
  </div>
