<br>
<div class="plant-new-header">
<div class="container">
  <div class="row">
    <div class="col-lg">

      <h1 style="text-align: center; margin-top: 40px;">Plant a new Plant</h1>
</div>
  </div>
</div>
</div>

      <%= render 'form' %>

