

 @import "bootstrap";

 
.gardenindex {
  padding-top: 30px;
  text-align: center; 

}
.display-4 {
  letter-spacing: 22px;
  color: powderblue;
  text-align: center;
  font-weight: 200;
}

.lead {
  color: #504e4e;
  text-align: center;
}

.navbar-dark{
  background-color: #033509!important;
}

.card {
  margin-bottom: 40px;
}

.jumbotron {
  background: rgb(219,240,27);
  background: linear-gradient(357deg, rgba(219,240,27,1) 0%, rgba(50,134,7,1) 100%);
}

.btn-primary {
  background-color: #328607;
  border-color: #328607;
}

a {
  color: #1069b7;
}

footer {
  background-color:#e4dfdf;
  height: 100px;
  text-align: center;
}

input[type="submit"] {
  background-color: green;
  color: #f4f4f4;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
}